
:root {
    --primary: #ffffff;
    --secondary: #000;
    --header-font: "Poppins";
    --body-font: "Lexend";
    --main-text: #0d0d0d;
    --secondary-text: #3f3f3f;
    --muted-text: #2c2c2c;
    --surface: #f0f0f0;
    --accent-one: #f6e7df;
    --accent-two: #005321;
    --shadow-soft: 0 20px 20px rgba(209, 209, 209, 0.2);
}

@theme inline {
    --color-primary: var(--primary); 
    --color-secondary: var(--secondary); 
    --color-accent-one: var(--accent-one);
    --color-accent-two: var(--accent-two);
    --color-surface: var(--surface);

    /*Text*/
    --color-main-text: var(--main-text);
    --color-secondary-text: var(--secondary-text);
    --color-muted-text: var(--muted-text);
    
    /*Radius*/
    --radius-lg: 24px;

    /*Fonts*/
    --font-header: var(--header-font);
    --font-body: var(--body-font);

    /*Shadow*/
    --shadow-soft: var(--shadow-soft);
}